* {
	padding: 0;
	margin: 0;
}

body {
	padding: 1vw;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 14px;
	color: #000;
	background: #fff;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 1em;
}

th,
td {
	padding: .4em .4em;
}

th {
	text-align: left;
	background: rgba(0, 0, 0, .04);
	border-bottom: 2px solid rgba(0, 0, 0, .06);
	font-weight: bold;
	cursor: pointer;
}

td {
	border-top: 1px solid rgba(0, 0, 0, .04);
}

tbody tr:hover,
tbody tr:focus {
	background: rgba(0, 0, 0, .04);
}

.no {
	color: #999;
}

.monospace {
	font-family: Menlo, Consolas, monospace;
	font-size: .9rem;
}
